[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
python-dotenv = "*"
mangum = "*"

[dev-packages]
pylint = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-asyncio = "*"
uvicorn = "*"

[requires]
python_version = "3.9"
